<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dad Jokes</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="container">
        <header>
            <h1>Dad Jokes</h1>
            <form action="/" method="">
                <input id="get" type="submit" value="Jokes😂" formaction="/jokes-gen">
            </form>
            
        </header>
        <main>
            <div id="jokeDisplay">
                <p id="jokeText"><%= content %></p>
            </div>
        </main>
    </div>

</body>
</html>
